# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Chặn thư mục chứa file upload (Video, PDF)
uploads/

# Chặn file build của Java
target/
.mvn/

# Chặn file cấu hình của IDE
.idea/
*.iml
